/* Add your styles here */
body{background: #f1f1f1; }
h1{font: 150px;}
h2{font: 60px;}
.header{background: #cdcdcd; height: 200px; padding: 20px }
.header_h1{background: #000; text-align: center; padding: 0  }
.navbar{background: #5191fd }
.navbar_li{display: inline-block; padding: 5px; cursor: pointer; background: #fff; border-radius: 3px}

