h1 {
  color: rgb(99, 9, 72);
}

.purple {
  color: rgb(103, 209, 99);
}

#red {
  color: rgba(255, 193, 23, 0.658);
}

#big-font {
  font-size: 40px;
}

#bold-font {
  font-weight: bold;
}

.back-black {
  background-color: #000;
}

.small-font {
  font-size: 10px;
}
